p {
	font-family: 'SF Pro Display' !important;
	font-style: normal;
	font-weight: 400 !important;
	font-size: 40px;
}

.sf {
	font-family: 'SF Pro Display' !important;
	font-style: normal !important;
	font-weight: 400 !important;
	font-size: 25px !important;
}

table td + td { border-left:2px solid black !important; }

.frame {
	position: relative;
	border: 10px solid black;
	background-color: white;
	width: 40vh;
	height: 40vh;
	display: block;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

iframe {
	height: 40vh;
	width: 40vh;
	padding: 5px;
	margin-top: 5px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.column {
	float: left;
	width: 45%;
  }
  
/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

.vl {
	border-left: 6px solid black;
	height: 500px;
  }