html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

input {border:0;outline:0;}
input:focus {outline:none!important;}

.roaches {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  color: #202023;
}

.launch {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  color: #BC2739;
  padding: 0;
  border: none;
  background: none;
}

.name-input {
  background-color: #F3F3EC !important;
  width: 278px;
  height: 48px;
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 48px;
  color: #8D8D93;
}
